<h1>Teller View</h1>
<div class="main">
  <section class="display">
    <!-- Display: Customer information except for when inquiring about transaction -->
    <h3>Customer Information</h3>
    <div><p>Customer Name: {{name}}</p>
    <p>Age: {{age}}</p>
    <p>Address: {{address.street}} <br>
    {{address.city}}, {{address.state}} {{address.zip}} <br>
    {{address.country}}
    </p></div>
    <br><br>
    <!-- Display: if inquiring about transactions -->
    <div *ngIf= clickedTransaction><h3>Past Transactions:</h3>
    <p *ngFor = 'let transaction of transactions'>[{{transaction.date}}] {{transaction.type}} - {{transaction.amount}} {{transaction.currency}}</p></div>
  </section>
  <aside class="options">
    <section class="balance">
      <!-- Display customer balance -->
      ${{balance.toFixed(2)}} USD
    </section>
    <!-- Add functionality to the buttons below -->
    <ul class="options-list">
      <li class="options-item">
       <input type="number" [(ngModel)] = 'withdrawAmount'> <button (click) = customerWithdraw()>Withdrawl for Customer</button>
      </li>
      <li class="options-item">
        <input type="number" [(ngModel)] = 'depositAmount'> <button (click) = customerDeposit()>Deposit for Customer</button>
      </li>
      <li class="options-item">
        <button (click) = "viewTransactions()">Customer Transaction History</button>
      </li>
    </ul>
  </aside>
</div>
